<div class="container mt-3">
    <div class="card">
        <div class="card-header bg-secondary">Quản lý danh mục sản phẩm</div>
        <div class="card-body">
            <div class="form-group">
                <label>MaSP</label>
                <input class="form-control" #maSPRef>
            </div>
            <div class="form-group">
                <label>Tên SP</label>
                <input class="form-control" #tenSPRef>
            </div>
            <div class="form-group">
                <label>Giá</label>
                <input class="form-control" #giaSPRef>
            </div>
            <button class="btn btn-success" (click)="themSanPham(maSPRef.value, tenSPRef.value, giaSPRef.value)">Thêm
                sản phẩm</button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã SP</th>
                <th>Tên SP</th>
                <th>Giá</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sp of mangSanPham; let stt = index">
                <td>{{stt + 1}}</td>
                <td>{{sp.maSP}}</td>
                <td>{{sp.tenSP}}</td>
                <td>{{sp.giaSP}}</td>
            </tr>
        </tbody>

    </table>
</div>