
<!-- ngClass -->
<p class="text-center" [ngClass]="{
    'bg-primary' : isActive,
    'bg-secondary' : !isActive
    }">Hello Angular</p>


<button (click)="isActive = !isActive">Toggle</button>

<!-- ngStyle -->
<p style="text-align: center;" [style]="{'background-color': color}">
    DemoStyle
</p>

<div style="width: 50%; height: 300px; background-repeat: no-repeat; background-position: center; background-size: contain;" [style]="{'background-image' : 'url('+ imageUrl + ')'}">
</div>



