<p>Email:</p>
<input [(ngModel)]= 'email'>

<p>FullName: </p>
<input [value] = "fullName" #fullNameRef >

<button class="btn btn-success" (click) = "handleChangeFullName(fullNameRef)"  >Submit</button>

<p>Email: {{email}}</p>
<p>FullName: {{fullName}} </p>
