
<p *ngIf= "isActive" >Hello Angular</p>
<button (click) = "isActive = !isActive"  >Toggle</button>

<!-- View khi đã login -->
<div *ngIf = "isLogin; else loginTemplate">
    <p>Hello Cybersoft</p>
    <button (click) = "isLogin = false" >Đăng xuất</button>
</div>

<!-- View khi chưa login -->

<!-- <div *ngIf="!isLogin" >
    <button (click) = "isLogin = true" >Đăng nhập</button>
</div> -->

<!-- ng-template: component do angular định nghĩa sẵn, mặc định nội dung bên trong ng-template sẽ không được render ra giao diện, nó chỉ được render ra giao diện khi mình gọi tới nó -->

<ng-template #loginTemplate>
    <div>
        <button (click)= "isLogin = true">Đăng nhập</button>
    </div>
</ng-template>

<!-- ngSwitch: ẩn hiện component hoặc view -->
<div [ngSwitch]="color" >
    <p *ngSwitchCase = "'primary'"  class="bg-primary" >Primary</p>
    <p *ngSwitchCase="'secondary'" class="bg-secondary">Secondary</p>
    <p *ngSwitchCase="'danger'" class="bg-danger">Danger</p>
    <p *ngSwitchCase="'warning'" class="bg-warning">Warning</p>
    <p *ngSwitchDefault >Default</p>
</div>

<select [(ngModel)] = "color" >
    <option value="" >Default</option>
    <option value="primary" >Primary</option>
    <option value="secondary">Secondary</option>
    <option value="danger">Danger</option>
    <option value="warning">Warning</option>
</select>

<!-- NgFor: duyệt mảng -->
<div class="container">
    <p *ngFor = "let sv of dssv; let idx = index; count as total" >
        {{idx + 1}}/{{total}} {{sv.hoTen}} - {{sv.lop}}
    </p>
</div>

<!-- Multiple Structural Directives -->
<ng-container *ngIf = "dssv" class="container" >
    <p *ngFor = "let sv of dssv; let idx = index; count as total">
         {{idx + 1}}/ {{total}} {{sv.hoTen}} - {{sv.lop}}
    </p>
</ng-container>

<br>

<!-- ngTemplateOutlet -->

<ng-template #errorTemplate>
    <div class="alert alert-danger" role = "alert" >
        <strong>Something went wrong</strong>
    </div>
</ng-template>


<ng-container *ngTemplateOutlet = "errorTemplate" ></ng-container>
<ng-container *ngTemplateOutlet = "errorTemplate" ></ng-container>
<ng-container *ngTemplateOutlet = "errorTemplate" ></ng-container>