<div class="form-group">
    <label>Tên Phim</label>
    <input class="form-control" #tenPhim >
</div>

<div class="form-group">
    <label>Giá</label>
    <input class="form-control" #gia >
</div>

<div class="form-group">
    <label>Hình ảnh</label>
    <input  class="form-control-file" type="file" #hinhAnh>
    <img [src]="srcBase64" >
</div>

<button class="btn btn-success" (click)="handleAddMovie(tenPhim.value, gia.value, hinhAnh.files)" >Thêm Phim</button>