<h4 style="background-color: darkgrey; text-align: center; font-size: 16px; padding: 5px;" >Màn Hình</h4>
<div class="row text-center">
    <div class="col-3" *ngFor="let ghe of danhSachGhe">
        <app-ghe #ghe [ghe]="ghe" (onSelect)="chonGhe($event)" ></app-ghe>
    </div>
</div>