
<h3 class="text-center font-weight-bold mt-3">DANH SÁCH GHẾ XEM PHIM</h3>
<div class="container">
    <div class="row">
        <div class="col-6">
            <app-danh-danh-ghe #dsGhe (onSelect)="chonGhe($event)" ></app-danh-danh-ghe>
        </div>
        <div class="col-6" >
            <app-danh-sach-ghe-da-dat #dsGheDangDat (onRemove)="huyGhe($event)" ></app-danh-sach-ghe-da-dat>
        </div>
    </div>
</div>
