<p>
    {{message}}
</p>

<input value = "{{message}}" >

<!-- Property biding -->
<input [value]= "message" [disabled] = "isActive">

<br/>
<!-- Event binding -->
<input [value]= "message" #messageRef >

<button (click)= "handleChangeMessage(messageRef)" >Click</button>

<p>{{userName}}</p>

<input [value]="message" (change) = "handleChangeUserName($event)" >

<input [value]="message" (input) = "handleChangeUserName($event)" >

<!-- Two-way binding -->
<!-- Thay đổi giá trị biến email trong Ts và binding lại chỉ áp dụng cho event input -->

<p>{{email}}</p>
<input [(ngModel)] = 'email' >