<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CYBERSOFT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>

            <li class="nav-item d-flex" *ngIf="isLogin; else logout" >
                <p class="mb-0 p-2">{{name}}</p>
                <a class="nav-link" href="#" (click)="isLogin = false" >Logout</a>
            </li>

            <ng-template #logout class="nav-item" >
                <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Login</a>
            </ng-template>
        </ul>

    </div>
</nav>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>UserName</p>
                    <input  class="form-control" #userNameRef >
                </div>
                <div class="form-group" >
                    <p>Password</p>
                    <input class="form-control" #passwordRef >
                </div>
            </div>
            <div class="modal-footer">
                <!-- LOGIN -->
                <button type="button" class="btn btn-primary" (click) = "handleChangeInput(userNameRef.value, passwordRef.value)" >Login</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>