<div class="container">
    <div class="row">
        <div class="col-3" *ngFor="let movie of movieList" >
            <app-movie-item [movie]="movie" (onDelete)="deleteMovie($event)" ></app-movie-item>
        </div>
    </div>
</div>