<div class="container">
    <h3 class="text-center" >THÊM PHIM</h3>
    <app-add-movie (onAdd)="addMovie($event)" ></app-add-movie>
</div>

<h3 class="text-center">Danh Sách Phim</h3>
<app-movie-list #movieList ></app-movie-list>