<div class="container">
    <div class="card">
        <div class="card-header bg-secondary">
            <p class="mb-0" style="color: white; font-weight: bold;">Quản lý danh mục sản phẩm</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <input class="form-control" placeholder="MaSP" #maSPRef>
                </div>
                <div class="col-3">
                    <input class="form-control" placeholder="TenSP" #tenSPRef>
                </div>
                <div class="col-3">
                    <input class="form-control" placeholder="Gia" #giaRef>
                </div>
                <div class="col-3">
                    <button class="btn btn-success"
                        (click)="addProduct(maSPRef.value, tenSPRef.value, giaRef.value)">Thêm sản phẩm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header bg-secondary">
            <p class="mb-0" style="color: white; font-weight: bold;">Danh mục sản phẩm</p>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <td>MaSP</td>
                        <td>Tên SP</td>
                        <td>Giá</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sp of mangSanPham | paginate: {itemsPerPage: 5, currentPage: p}">
                        <td>{{sp.MaSP}}</td>
                        <td>{{sp.TenSP}}</td>
                        <td>{{sp.Gia.toLocaleString()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center mt-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

</div>