<!-- <h1 class="text-center">Hello word</h1> -->

<!-- <app-header ></app-header>
<div class="d-flex">
  <app-contents class="w-75" style="background-color: cadetblue;"></app-contents>
  <app-sidebar class="w-25" style="background-color: coral;"></app-sidebar>
</div>
<app-footer></app-footer> -->

<!-- <app-baitap2></app-baitap2> -->
<!-- <app-databiding></app-databiding> -->
<!-- <app-baitap4></app-baitap4> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-attribute-directives></app-attribute-directives> -->
<!-- <app-baitap5></app-baitap5> -->
<!-- <app-baitap6></app-baitap6> -->
<!-- <app-baitap7></app-baitap7> -->
<!-- <app-baitap8></app-baitap8> -->
<!-- <app-interaction></app-interaction> -->

<!-- <app-home></app-home> -->
<!-- <app-layout></app-layout> -->

<router-outlet></router-outlet>