<h3 class="text-center" style="color: coral;">Danh Sách Ghế Đã Đặt ({{danhSachGheDaDat.length}})</h3>

<p *ngFor="let ghe of danhSachGheDaDat" >
    Ghế: {{ghe.TenGhe}} - ${{ghe.Gia}}
    
    <span style="color: crimson; cursor: pointer;"
        (click)="huyGhe(ghe.SoGhe)"
    >[Hủy]</span>
</p>