<div class="card mt-3">
    <img class="card-img-top" [src]="movie.image" alt="">
    <div class="card-body">
        <h4 class="card-title">{{movie.name}}</h4>
        <p class="card-text">{{movie.price}}</p>
    </div>
    <button class="btn btn-danger" (click)="deleteMovie(movie.id)"  >Delete</button>
</div>
