
<div class="container">
    <h3 appHightlight>Test Derective</h3>
    <h3 class="text-center" >Danh Sách Phim</h3>
    <div class="row">
        <div class="col-3" *ngFor="let movie of movieList | slice: 0-10" >
            <div class="card">
                <img class="card-img-top" [src]="movie.hinhAnh" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{movie.tenPhim | uppercase }}</h4>
                    <p class="card-text">{{movie.moTa | shortcut : 60 }}</p>

                    <p class="card-text">{{0.5 | percent}}</p>
                    <p class="card-text">{{ 1000 | currency:"USD" }}</p>
                    <p class="card-text">{{movie | json}}</p>
                    <p class="card-text">{{movie.ngayKhoiChieu | date: "dd/MM/yyyy hh:mm:ss"}}</p>
                    <button class="btn btn-success" >Xem chi tiết</button>
                </div>
            </div>
        </div>
    </div>
</div>